/* 共通 css */
:root {
    --font-color: #121212;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    margin: unset;
}
img {
    display: block;
}
h1, h2, h3, h4, h5, p, ul, ol, dl, dd {
    margin: unset;
    padding: unset;
}
h2 {
    font-weight: 600;
    font-size: 24px;
    color: var(--font-color);
    line-height: 1.7;
    text-align: center;
}
p {
    font-weight: 600;
    font-size: 14.4px;
    color: var(--font-color);
    line-height: 1.7;
}
a, a:visited {
    font-weight: 300;
    font-size: 14.4px;
    color: #ffffff;
    line-height: 1.7;
    text-decoration: none;
}
p.copy {
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    line-height: 1.7;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 7px;
}
div.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 16px;
}

/* 狭い画面向けの既定の CSS レイアウト値 */
h2 {
    padding-bottom: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
}
header div#HamburgerButton {
    display: grid;
    gap: 8px;
    cursor: pointer;
}
header div#HamburgerButton span {
    background-color: black;
    width: 30px;
    height: 2px;
    display: block;
    border-radius: 4px;
}


main {
    padding-top: 80px;
}
video {
    height: 100vh;
    display: block;
}
article {
    padding-top: 80px;
}



main article#Feature {
    padding-top: 100px;
    padding-bottom: 90px;
}
main article#Feature div.articles {
    display: grid;
    gap: 26px 27px;
}
main article#Feature div.article {
    box-shadow: 0px 0px 8px 4px #cccccc;
}
main article#Feature div.text {
    padding: 16px;
}
main article#Feature img {
    width: 100%;
}
main article#Feature span.category {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.7;
    padding-bottom: 20px;
    display: block;
}
main article#Feature p {
    padding-bottom: 20px;
}
main article#Feature time {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.7;
    display: block;
    text-align: end;
}



footer {
    background-color: var(--font-color);
}
footer article#Contact {
    padding-bottom: 80px;
}
footer article#Contact h2 {
    color: #ffffff;
}
footer article#Contact p {
    color: #ffffff;
    font-weight: 300;
    padding-bottom: 30px;
}
footer article#Contact form {
    display: flex;
    flex-direction: column;
}
footer article#Contact label {
    color: #ffffff;
}
footer article#Contact input {
    margin-bottom: 20px;
    height: 44px;
}
footer article#Contact textarea {
    margin-bottom: 20px;
    height: 68px;
}
footer article#Contact button {
    color: #ffffff;
    background-color: black;
    border: 1px solid #ffffff;
    padding: 12px;
    font-size: 14.4px;
    font-weight: 300;
    line-height: 1.7;
}





@media (min-width: 601px) {
h2 {
    font-size: 36px;
    padding-bottom: 30px;
}
}
@media (min-width: 658px) {
  /* 中型の画面向けの CSS */
}

@media (min-width: 768px) {
  /* 広い画面向けの CSS */
}

@media (min-width: 984px) {
  /* 本当に広い画面向けの CSS */
}
