/* 共通 css */
:root {
    --font-color: #121212;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    margin: unset;
}
img {
    display: block;
}
li {
    list-style: none;
}
h1, h2, p, ul, menu {
    margin: unset;
    padding: unset;
}
h2 {
    font-weight: 600;
    font-size: 24px;
    color: var(--font-color);
    line-height: 1.7;
    text-align: center;
}
p {
    font-weight: 600;
    font-size: 14.4px;
    color: var(--font-color);
    line-height: 1.7;
}
a, a:visited {
    font-weight: 300;
    font-size: 14.4px;
    color: #ffffff;
    line-height: 1.7;
    text-decoration: none;
}
p.copy {
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    line-height: 1.7;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 7px;
}
div.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 16px;
}

/* 狭い画面向けの既定の CSS レイアウト値 */
h2 {
    padding-bottom: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}
header div#HamburgerButton {
    position: fixed;
    top: 28.5px;
    right: 16px;
    cursor: pointer;
    width: 30px;
    height: 23px;
}
header div#HamburgerButton span {
    position: absolute;
    background-color: black;
    width: 30px;
    height: 2px;
    border-radius: 4px;
}
header div#HamburgerButton span:nth-of-type(1) {
    top: calc(50% - 11px);
}
header div#HamburgerButton span:nth-of-type(2) {
    top: calc(50% - 1px);
}
header div#HamburgerButton span:nth-of-type(3) {
    top: calc(50% + 9px);
}
header div#HamburgerMenu {
    width: 300px;
    height: 100vh;
    background-color: #000000;
    margin: unset;
    padding: 60px 25px;
    position: fixed;
    top: 0;
    left: 0%;
    transform: translateX(-300px);
    opacity: 0;
    transition: all 0.5s;
}
header div#HamburgerMenu menu {
    margin-bottom: 65px;
}
header div#HamburgerMenu menu li {
    padding: 20px 0;
    border-top: 1px solid #ffffff;
}
header div#HamburgerMenu menu li:last-of-type {
    border-bottom: 1px solid #ffffff;
}
header div#HamburgerMenu menu li span {
    color: #ffffff;
    cursor: pointer;
}
header div#HamburgerMenu ul li {
    margin-bottom: 10px;
}
/* ハンバーガーメニューopenの時ここから */
header div#HamburgerMenu.open {
    transform: translateX(0px);
    opacity: 1;
}
header div#HamburgerButton.open {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
header div#HamburgerButton span.open {
    right: 16px;
    background-color: #ffffff;
}
header div#HamburgerButton span:nth-of-type(1).open {
    animation: 0.5s forwards span1_open;
}
header div#HamburgerButton span:nth-of-type(2).open {
    opacity: 0;
    animation: 0.5s forwards span2_open;
    transition: all 1s;
}
header div#HamburgerButton span:nth-of-type(3).open {
    animation: 0.5s forwards span3_open;
}
@keyframes span1_open {
    0% {
        transform: rotate(0);
        top: 40px;
    }
    100% {
        transform: rotate(-225deg);
        top: 40px;
    }
}
@keyframes span2_open {
    0% {
        top: 40px;
    }
    100% {
        top: 40px;
    }
}
@keyframes span3_open {
    0% {
        transform: rotate(0);
        top: 40px;
    }
    100% {
        transform: rotate(225deg);
        top: 40px;
    }
}
/* ハンバーガーメニューopenの時ここまで */
/* ハンバーガーメニューcloseの時ここから */
header div#HamburgerButton span:nth-of-type(1).close {
    animation: 0.5s forwards span1_close;
}
header div#HamburgerButton span:nth-of-type(2).close {
    opacity: 1;
    transition: all 1s;
}
header div#HamburgerButton span:nth-of-type(3).close {
    animation: 0.5s forwards span3_close;
}
@keyframes span1_close {
    0% {
        transform: rotate(-225deg);
        top: 50%;
    }
    100% {
        transform: rotate(0);
        top: calc(50% - 11px);
    }
}
@keyframes span3_close {
    0% {
        transform: rotate(225deg);
        top: 50%;
    }
    100% {
        transform: rotate(0);
        top: calc(50% + 9px);
    }
}
/* ハンバーガーメニューcloseの時ここまで */


main {
    padding-top: 80px;
}
video {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
}
article {
    padding-top: 80px;
}


main div#Slider img {
    padding: 0 20px;
}


main article#Feature {
    padding-top: 100px;
    padding-bottom: 90px;
}
main article#Feature div.articles {
    display: grid;
    gap: 26px 27px;
}
main article#Feature div.article {
    box-shadow: 0px 0px 8px 4px #cccccc;
}
main article#Feature div.text {
    padding: 16px;
}
main article#Feature img {
    width: 100%;
    opacity: 0;
}
main article#Feature img.inview {
    animation: 1s forwards fadein;
}
@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
main article#Feature span.category {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.7;
    padding-bottom: 20px;
    display: block;
}
main article#Feature p {
    padding-bottom: 20px;
}
main article#Feature time {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.7;
    display: block;
    text-align: end;
}



footer {
    background-color: var(--font-color);
}
footer article#Contact {
    padding-bottom: 80px;
}
footer article#Contact h2 {
    color: #ffffff;
}
footer article#Contact p {
    color: #ffffff;
    font-weight: 300;
    padding-bottom: 30px;
}
footer article#Contact form {
    display: flex;
    flex-direction: column;
}
footer article#Contact label {
    color: #ffffff;
}
footer article#Contact input {
    margin-bottom: 20px;
    height: 44px;
}
footer article#Contact textarea {
    margin-bottom: 20px;
    height: 68px;
}
footer article#Contact button {
    color: #ffffff;
    background-color: black;
    border: 1px solid #ffffff;
    padding: 12px;
    font-size: 14.4px;
    font-weight: 300;
    line-height: 1.7;
    cursor: pointer;
}
footer article#Contact button:hover {
    color: #000000;
    background-color: #ffffff;
}





@media (min-width: 601px) {
header {
    padding: 20px 40px;
}
header div#HamburgerButton {
    right: 40px;
}
header div#HamburgerButton span.open {
    right: 40px;
}
h2 {
    font-size: 36px;
    padding-bottom: 30px;
}
main article#Feature div.text {
    padding: 30px;
}
main article#Feature {
    padding-bottom: 60px;
}

footer article#Contact {
    padding-bottom: 50px;
}
footer article#Contact div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8%;
}
footer article#Contact button {
    width: 200px;
}
}
@media (min-width: 658px) {
    main article#Feature div.articles {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
main div#Slider img {
    padding: 0 30px;
}
}

@media (min-width: 984px) {
    main article#Feature div.articles {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
